body{
    background:lightgreen
}
h3, h2{
    color: rgb(230, 47, 30);
    font-family: "monserrat", sans-serif;
}
img{
    width: 56%;
    border-radius: 10px;
}
.variedad1{
    width: 200px;
    border-radius: 5px;
}
.menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
a{
  color: rgb(238, 25, 135);  
  text-decoration: dotted;
}
.subtitulo{
    display: flex;
    flex-direction: row;
    align-items: center;

}